numpy==1.26.4; python_version >= '3.9'
pillow==10.3.0; python_version >= '3.8'
trimesh==4.3.2; python_version >= '3.7'
typing-extensions==4.11.0; python_version >= '3.8'
cairosvg>=2.5.2; python_version >= '3.8'
